__pycache__.gitignore
--- a/file:///c%3A/Users/hp/Desktop/python%20exa/AI-machinelearning-week4/__pycache__/.gitignore
+++ b/file:///c%3A/Users/hp/Desktop/python%20exa/AI-machinelearning-week4/__pycache__/.gitignore
@@ -1 +1 @@